# PureChatNext 域名
# APP_URL=http://localhost:3000

# 指定 API 密钥选择方法，目前支持random（随机）和turn（轮流）
# API_KEY_SELECT_MODE=random

########################################
############ Auth Service ##############
########################################

# NextAuth 相关配置

# 启用NextAuth身份验证
# NEXT_PUBLIC_ENABLE_NEXT_AUTH=1

# 用于JWT签名的密钥 (生成方式: openssl rand -base64 32)
# NEXT_AUTH_SECRET="next_auth_secret"

########################################
########### Auth Service ###############
########################################

# Github App 详情页的 客户端 ID https://github.com/settings/apps/new
# GITHUB_CLIENT_ID=github_client_id

# Github App 详情页的 客户端 Secret
# GITHUB_CLIENT_SECRET=github_client_secret

# github client id electron
# GITHUB_ELECTRON_ID=""

# github Client secret electron
# GITHUB_ELECTRON_SECRET=""

########################################
########## IM Tencent Service ##########
########################################

# 腾讯IM 管理员账号id (可选)
# IM_ADMIN_ISTRATOR=administrator

# 腾讯IM SDKAppID https://cloud.tencent.com/product/im (必须)*
# IM_SDK_APPID=123456

# 腾讯IM密钥 密钥信息为敏感信息，请注意保密，不要泄露。(必须)*
# IM_SDK_KEY=asdfghjkl

# Your im server baseurl
# IM_SERVER_BASE_URL=https://console.tim.qq.com

########################################
########## Server Database #############
########################################

# Postgres 相关，也即 DB 必须的环境变量

# 用于加密敏感信息的密钥，可以使用 https://generate-secret.vercel.app/32 or `openssl rand -base64 32` 生成
# KEY_VAULTS_SECRET=xxxxx/xxxxxxxxxxxxxx=

# Postgres 数据库连接字符串 here: https://vercel.com/docs/postgres
# DATABASE_URL=postgres://username:password@host:port/database

########################################
########## AI Provider Service #########
########################################

### OpenAI ###

# you openai api key
# OPENAI_API_KEY=sk-xxxxxxxxx

# 使用代理连接 OpenAI API
# OPENAI_PROXY_URL=https://api.openai.com/v1

# 添加您的自定义模型名称，多个模型之间用逗号分隔. 例如 gpt-3.5,gpt-4
# OPENAI_MODEL_LIST=gpt-3.5-turbo

### DeepSeek AI  ####

# DEEPSEEK_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# DEEPSEEK_PROXY_URL=https://api.deepseek.com/v1
