# Electron 二进制走 npmmirror，避免 GitHub releases 下载过慢或失败。
shamefully-hoist=true
ignore-workspace-root-check=true

electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
